<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="system-menu" label="System">
		<item label="Openbox">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Openbox Key">
			<action name="Execute">
				<execute>obkey</execute>
			</action>
		</item>
		<item label="Openbox Menu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Panel Configuration">
			<action name="Execute">
				<execute>tintwizard</execute>
			</action>
		</item>
		<item label="Look and Feel">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<separator/>
		<menu id="system-menu-691410" label="Other Settings">
			<item label="Disk">
				<action name="Execute">
					<execute>baobab</execute>
				</action>
			</item>
			<item label="Screensaver">
				<action name="Execute">
					<execute>xscreensaver-demo</execute>
				</action>
			</item>
			<item label="Sound">
				<action name="Execute">
					<execute>xfce4-mixer</execute>
				</action>
			</item>
			<item label="Notifications">
				<action name="Execute">
					<execute>xfce4-notifyd-config</execute>
				</action>
			</item>
			<item label="Clipboard">
				<action name="Execute">
					<execute>xfce4-clipman-settings</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<separator/>
		<item label="Reboot">
			<action name="Execute">
				<command>sudo reboot</command>
				<prompt>Are you sure you want to reboot?</prompt>
			</action>
		</item>
		<item label="Shut Down">
			<action name="Execute">
				<command>sudo poweroff</command>
				<prompt>Are you sure you want to shut down?</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
